
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="" method="post">
    <div class="form-group">
        <label for="Name">Title</label>
        <input type="text" class="form-control" id="Title" name="Title" placeholder="Enter your name" value="" />
    </div>

    <div class="form-group">
        <label for="Name">Author</label>
        <input type="text" class="form-control" id="Author" name="Author" placeholder="Enter your Author" value="" />
    </div>

    <div class="form-group">
        <label for="Name">Edition</label>
        <input type="text" class="form-control" id="Edition" name="Edition" placeholder="Enter your Edition" value="" />
    </div>
    

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


