
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamguystech.com/preadmin/html/invoice/template/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Oct 2022 15:46:49 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>MT Zero Hunger</title>

    <link rel="shortcut icon" href="~/Assets/img/favicon.ico">

    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/Assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/Assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/Assets/css/style.css">
</head>

<body>

    <div class="main-wrapper login-body">
        <div class="login-wrapper">
            <div class="container">
                <img class="img-fluid logo-dark mb-2" src="~/Assets/img/MT.png" alt="Logo">
                @RenderBody();
            </div>
        </div>
    </div>


    <script src="~/Assets/js/jquery-3.6.0.min.js"></script>

    <script src="~/Assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/Assets/js/feather.min.js"></script>

</body>

<!-- Mirrored from dreamguystech.com/preadmin/html/invoice/template/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Oct 2022 15:46:49 GMT -->

</html>


