
@model ZeroHunger.Models.UserModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Authontication.cshtml";
}

<div class="loginbox">
    <div class="login-right">
        <div class="login-right-wrap">
            <h1>Login</h1>
            <p class="account-subtitle">Access to our dashboard</p>
            <form action="" method="post">
                <div class="form-group">
                    <label class="form-control-label">Email Address</label>
                    <input type="email" class="form-control" name="Email" value="">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label class="form-control-label">Password</label>
                    <div class="pass-group">
                        <input type="password" class="form-control pass-input" name="Password" value="">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <span class="fas fa-eye toggle-password"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label">Type</label>
                    <select class="form-control" name="Type">
                        <option value=1>Admin</option>
                        <option value=2>Employee</option>
                        <option value=3>Restaurant</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6 text-end">
                            <a class="forgot-link" href="#">Forgot Password ?</a>
                        </div>
                    </div>
                </div>
                <button class="btn btn-lg btn-block btn-primary w-100" type="submit">Login</button>


                <div class="text-center dont-have">
                    Don't have an account yet? <a href="/Home/Registration">Register</a>
                </div>
            </form>
        </div>
    </div>
</div>

