
@{
    ViewBag.Title = "Education";
}

<!--
===================
   EXPERIENCES
===================
-->
<script>
    document.getElementById("education").className = "nav-item active";
</script>

<section class="mh-experince" id="mh-experience">
    <div class="bolor-overlay">
        <div class="container">
            <div class="row section-separator">
                <div class="col-sm-12 col-md-12">
                    <div class="mh-work">
                        <h3>Education</h3>

                        <div class="mh-experience-deatils">
                            <!-- Education Institutes-->
                            <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s"
                                 data-wow-delay="0.4s">
                                <h4>BSC in CSE</h4>
                                <a href="#">American International University - Bangladesh (AIUB)</a>
                                <ul class="work-responsibility">
                                    <li><i class="fa fa-circle"></i>CGPA: 3.99</li>
                                    <li><i class="fa fa-circle"></i>Semester No: 10</li>
                                </ul>
                            </div>
                            <!-- Education Institutes-->
                            <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s"
                                 data-wow-delay="0.4s">
                                <h4>HSC</h4>
                                <a href="#">Shahid Smriti Govt. College</a>
                                <ul class="work-responsibility">
                                    <li><i class="fa fa-circle"></i>GPA: 3.58</li>
                                    <li><i class="fa fa-circle"></i>Passing year: 2019</li>
                                </ul>
                            </div>
                            <!-- Education Institutes-->
                            <div class="mh-work-item dark-bg wow fadeInUp" data-wow-duration="0.8s"
                                 data-wow-delay="0.4s">
                                <h4>SSC</h4>
                                <a href="#">Khamarpara High School</a>
                                <ul class="work-responsibility">
                                    <li><i class="fa fa-circle"></i>GPA: 4.91</li>
                                    <li><i class="fa fa-circle"></i>Passing year: 2017</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</section>


