
@{
    ViewBag.Title = "Projects";
}

<!--
===================
  PROJECTS
===================
-->
<script>
    document.getElementById("projects").className = "nav-item active";
</script>

<section class="mh-experince" id="mh-experience">
    <div class="bolor-overlay">
        <div class="container">
            <div class="row section-separator">
                <div class="col-sm-12 col-md-12">
                    <div class="mh-education">
                        <h3 class="wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">Projects</h3>
                        <div class="mh-education-deatils">
                            <!-- Education Institutes-->
                            <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s"
                                 data-wow-delay="0.3s">
                                <h4>Library Management System </h4>
                                <div class="mh-eduyear"><b>Course:</b>Object Oriented Programming 1(Java)</div>

                                <ul class="work-responsibility">
                                    <li><b>About the project:</b>  A Console-based application about library management.</li>
                                    <li><b>Technology used:</b> Java JDK.</li>
                                </ul>
                            </div>
                            <!-- Education Institutes-->
                            <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s"
                                 data-wow-delay="0.3s">
                                <h4>E-Learning Desktop Application </h4>
                                <div class="mh-eduyear"><b>Course:</b>Object Oriented Programming 2(C#)</div>

                                <ul class="work-responsibility">
                                    <li><b>About the project:</b> A desktop-based e-learning platform that has four users. Which are admin, manager, instruction, and learner.</li>
                                    <li><b>Technology used:</b> C#, .NET 5.0 framework, Visual Studio 2019, SQL Server.</li>
                                </ul>
                            </div>
                            <!-- Education Institutes-->
                            <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s"
                                 data-wow-delay="0.3s">
                                <h4>E-Learning Web Application</h4>
                                <div class="mh-eduyear"><b>Course:</b> Web Technology</div>

                                <ul class="work-responsibility">
                                    <li><b>About the project:</b> A web-based e-learning platform that has four users. Which are admin, manager, instruction, and learner.</li>
                                    <li><b>Technology used:</b> Bootstrap 4.5, HTML, jquery, PHP, ajax Mysql.</li>
                                </ul>
                            </div>
                            <!-- Education Institutes-->
                            <div class="mh-education-item dark-bg wow fadeInUp" data-wow-duration="0.8s"
                                 data-wow-delay="0.3s">
                                <h4>Club Monitoring Web Application </h4>
                                <div class="mh-eduyear"><b>Course:</b> Advance Programming in Web Technology</div>

                                <ul class="work-responsibility">
                                    <li><b>About the project:</b> A web-based Club Monitoring system. Which can be used by different universities to monitor their clubs.</li>
                                    <li><b>Technology used:</b> Laravel, React Js, jquery, Mysql.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</section>

