
@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-header">
                <h4 class="card-title">List of Users</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-stripped table-center table-hover datatable">
                        <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Registered On</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th class="text-end">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html">
                                            <img class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                 src="assets/img/profiles/avatar-01.jpg"
                                                 alt="User Image"> Charles Hafner
                                        </a>
                                    </h2>
                                </td>
                                <td>
                                    <a href="https://dreamguystech.com/cdn-cgi/l/email-protection"
                                       class="__cf_email__"
                                       data-cfemail="1b78737a69777e68737a7d757e695b7e637a766b777e35787476">[email&#160;protected]</a>
                                </td>
                                <td>16 Nov 2020</td>
                                <td><span class="text-success">Admin</span></td>
                                <td>
                                    <span class="badge badge-pill bg-success-light">Active</span>
                                </td>
                                <td class="text-end">
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-success me-2">
                                        <i class="far fa-edit me-1"></i> Edit
                                    </a>
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-danger me-2">
                                        <i class="far fa-trash-alt me-1"></i>Delete
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html">
                                            <img class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                 src="assets/img/profiles/avatar-02.jpg"
                                                 alt="User Image"> Brian Johnson
                                        </a>
                                    </h2>
                                </td>
                                <td>
                                    <a href="https://dreamguystech.com/cdn-cgi/l/email-protection"
                                       class="__cf_email__"
                                       data-cfemail="cba9b9a2aaa5a1a4a3a5b8a4a58baeb3aaa6bba7aee5a8a4a6">[email&#160;protected]</a>
                                </td>
                                <td>16 Nov 2020</td>
                                <td><span class="text-info">Customer</span></td>
                                <td>
                                    <span class="badge badge-pill bg-success-light">Active</span>
                                </td>
                                <td class="text-end">
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-success me-2">
                                        <i class="far fa-edit me-1"></i> Edit
                                    </a>
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-danger me-2">
                                        <i class="far fa-trash-alt me-1"></i>Delete
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html">
                                            <img class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                 src="assets/img/profiles/avatar-03.jpg"
                                                 alt="User Image"> Marie Canales
                                        </a>
                                    </h2>
                                </td>
                                <td>
                                    <a href="https://dreamguystech.com/cdn-cgi/l/email-protection"
                                       class="__cf_email__"
                                       data-cfemail="8ce1edfee5e9efede2ede0e9ffcce9f4ede1fce0e9a2efe3e1">[email&#160;protected]</a>
                                </td>
                                <td>8 Nov 2020</td>
                                <td><span class="text-info">Customer</span></td>
                                <td>
                                    <span class="badge badge-pill bg-danger-light">Inactive</span>
                                </td>
                                <td class="text-end">
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-success me-2">
                                        <i class="far fa-edit me-1"></i> Edit
                                    </a>
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-danger me-2">
                                        <i class="far fa-trash-alt me-1"></i>Delete
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html">
                                            <img class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                 src="assets/img/profiles/avatar-04.jpg"
                                                 alt="User Image"> Barbara Moore
                                        </a>
                                    </h2>
                                </td>
                                <td>
                                    <a href="https://dreamguystech.com/cdn-cgi/l/email-protection"
                                       class="__cf_email__"
                                       data-cfemail="0466657666657665696b6b766144617c65697468612a676b69">[email&#160;protected]</a>
                                </td>
                                <td>24 Oct 2020</td>
                                <td><span class="text-info">Customer</span></td>
                                <td>
                                    <span class="badge badge-pill bg-success-light">Active</span>
                                </td>
                                <td class="text-end">
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-success me-2">
                                        <i class="far fa-edit me-1"></i> Edit
                                    </a>
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-danger me-2">
                                        <i class="far fa-trash-alt me-1"></i>Delete
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html">
                                            <img class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                 src="assets/img/profiles/avatar-05.jpg"
                                                 alt="User Image"> Greg Lynch
                                        </a>
                                    </h2>
                                </td>
                                <td>
                                    <a href="https://dreamguystech.com/cdn-cgi/l/email-protection"
                                       class="__cf_email__"
                                       data-cfemail="7e190c1b191207101d163e1b061f130e121b501d1113">[email&#160;protected]</a>
                                </td>
                                <td>11 Oct 2020</td>
                                <td><span class="text-info">Customer</span></td>
                                <td>
                                    <span class="badge badge-pill bg-danger-light">Inactive</span>
                                </td>
                                <td class="text-end">
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-success me-2">
                                        <i class="far fa-edit me-1"></i> Edit
                                    </a>
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-danger me-2">
                                        <i class="far fa-trash-alt me-1"></i>Delete
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html">
                                            <img class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                 src="assets/img/profiles/avatar-06.jpg"
                                                 alt="User Image"> Karlene Chaidez
                                        </a>
                                    </h2>
                                </td>
                                <td>
                                    <a href="https://dreamguystech.com/cdn-cgi/l/email-protection"
                                       class="__cf_email__"
                                       data-cfemail="751e140719101b10161d141c11100f35100d14180519105b161a18">[email&#160;protected]</a>
                                </td>
                                <td>29 Sep 2020</td>
                                <td><span class="text-info">Customer</span></td>
                                <td>
                                    <span class="badge badge-pill bg-danger-light">Inactive</span>
                                </td>
                                <td class="text-end">
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-success me-2">
                                        <i class="far fa-edit me-1"></i> Edit
                                    </a>
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-danger me-2">
                                        <i class="far fa-trash-alt me-1"></i>Delete
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html">
                                            <img class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                 src="assets/img/profiles/avatar-07.jpg"
                                                 alt="User Image"> John Blair
                                        </a>
                                    </h2>
                                </td>
                                <td>
                                    <a href="https://dreamguystech.com/cdn-cgi/l/email-protection"
                                       class="__cf_email__"
                                       data-cfemail="94fefbfcfaf6f8f5fde6d4f1ecf5f9e4f8f1baf7fbf9">[email&#160;protected]</a>
                                </td>
                                <td>13 Aug 2020</td>
                                <td><span class="text-info">Customer</span></td>
                                <td>
                                    <span class="badge badge-pill bg-success-light">Active</span>
                                </td>
                                <td class="text-end">
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-success me-2">
                                        <i class="far fa-edit me-1"></i> Edit
                                    </a>
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-danger me-2">
                                        <i class="far fa-trash-alt me-1"></i>Delete
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html">
                                            <img class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                 src="assets/img/profiles/avatar-08.jpg"
                                                 alt="User Image"> Russell Copeland
                                        </a>
                                    </h2>
                                </td>
                                <td>
                                    <a href="https://dreamguystech.com/cdn-cgi/l/email-protection"
                                       class="__cf_email__"
                                       data-cfemail="e391969090868f8f808c93868f828d87a3869b828e938f86cd808c8e">[email&#160;protected]</a>
                                </td>
                                <td>2 Jul 2020</td>
                                <td><span class="text-info">Customer</span></td>
                                <td>
                                    <span class="badge badge-pill bg-danger-light">Inactive</span>
                                </td>
                                <td class="text-end">
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-success me-2">
                                        <i class="far fa-edit me-1"></i> Edit
                                    </a>
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-danger me-2">
                                        <i class="far fa-trash-alt me-1"></i>Delete
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html">
                                            <img class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                 src="assets/img/profiles/avatar-09.jpg"
                                                 alt="User Image"> Leatha Bailey
                                        </a>
                                    </h2>
                                </td>
                                <td>
                                    <a href="https://dreamguystech.com/cdn-cgi/l/email-protection"
                                       class="__cf_email__"
                                       data-cfemail="7c10191d08141d1e1d151019053c19041d110c1019521f1311">[email&#160;protected]</a>
                                </td>
                                <td>20 Jun 2020</td>
                                <td><span class="text-info">Customer</span></td>
                                <td>
                                    <span class="badge badge-pill bg-success-light">Active</span>
                                </td>
                                <td class="text-end">
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-success me-2">
                                        <i class="far fa-edit me-1"></i> Edit
                                    </a>
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-danger me-2">
                                        <i class="far fa-trash-alt me-1"></i>Delete
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html">
                                            <img class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                 src="assets/img/profiles/avatar-10.jpg"
                                                 alt="User Image"> Joseph Collins
                                        </a>
                                    </h2>
                                </td>
                                <td>
                                    <a href="https://dreamguystech.com/cdn-cgi/l/email-protection"
                                       class="__cf_email__"
                                       data-cfemail="9ff5f0ecfaeff7fcf0f3f3f6f1ecdffae7fef2eff3fab1fcf0f2">[email&#160;protected]</a>
                                </td>
                                <td>9 May 2020</td>
                                <td><span class="text-info">Customer</span></td>
                                <td>
                                    <span class="badge badge-pill bg-success-light">Active</span>
                                </td>
                                <td class="text-end">
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-success me-2">
                                        <i class="far fa-edit me-1"></i> Edit
                                    </a>
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-danger me-2">
                                        <i class="far fa-trash-alt me-1"></i>Delete
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html">
                                            <img class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                 src="assets/img/profiles/avatar-11.jpg"
                                                 alt="User Image"> Jennifer Floyd
                                        </a>
                                    </h2>
                                </td>
                                <td>
                                    <a href="https://dreamguystech.com/cdn-cgi/l/email-protection"
                                       class="__cf_email__"
                                       data-cfemail="711b141f1f18171403171d1e0815311409101c011d145f121e1c">[email&#160;protected]</a>
                                </td>
                                <td>17 Apr 2020</td>
                                <td><span class="text-info">Customer</span></td>
                                <td>
                                    <span class="badge badge-pill bg-success-light">Active</span>
                                </td>
                                <td class="text-end">
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-success me-2">
                                        <i class="far fa-edit me-1"></i> Edit
                                    </a>
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-danger me-2">
                                        <i class="far fa-trash-alt me-1"></i>Delete
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html">
                                            <img class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                 src="assets/img/profiles/avatar-12.jpg"
                                                 alt="User Image"> Alex Campbell
                                        </a>
                                    </h2>
                                </td>
                                <td>
                                    <a href="https://dreamguystech.com/cdn-cgi/l/email-protection"
                                       class="__cf_email__"
                                       data-cfemail="07666b627f64666a7765626b6b47627f666a776b622964686a">[email&#160;protected]</a>
                                </td>
                                <td>30 Mar 2020</td>
                                <td><span class="text-info">Customer</span></td>
                                <td>
                                    <span class="badge badge-pill bg-success-light">Active</span>
                                </td>
                                <td class="text-end">
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-success me-2">
                                        <i class="far fa-edit me-1"></i> Edit
                                    </a>
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-danger me-2">
                                        <i class="far fa-trash-alt me-1"></i>Delete
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 class="table-avatar">
                                        <a href="profile.html">
                                            <img class="avatar avatar-sm me-2 avatar-img rounded-circle"
                                                 src="assets/img/profiles/avatar-13.jpg"
                                                 alt="User Image"> Wendell Ward
                                        </a>
                                    </h2>
                                </td>
                                <td>
                                    <a href="https://dreamguystech.com/cdn-cgi/l/email-protection"
                                       class="__cf_email__"
                                       data-cfemail="bacddfd4dedfd6d6cddbc8defadfc2dbd7cad6df94d9d5d7">[email&#160;protected]</a>
                                </td>
                                <td>22 Feb 2020</td>
                                <td><span class="text-info">Customer</span></td>
                                <td>
                                    <span class="badge badge-pill bg-success-light">Active</span>
                                </td>
                                <td class="text-end">
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-success me-2">
                                        <i class="far fa-edit me-1"></i> Edit
                                    </a>
                                    <a href="javascript:void(0);"
                                       class="btn btn-sm btn-white text-danger me-2">
                                        <i class="far fa-trash-alt me-1"></i>Delete
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

