
@{
    ViewBag.Title = "AddProduct";
}

<div class="row">
    <div class="col-xl-6 container h-100 d-flex justify-content-center">
        <div class="card flex-fill">
            <div class="card-header">
                <h5 class="card-title">Product Info</h5>
            </div>
            <div class="card-body">
                <form action="" method="post">
                    <input type="hidden"  name="Id" value="">
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Name</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" name="Name" placeholder="Enter Name" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Price</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" name="Price" placeholder="Enter Price" value="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label">Quentity</label>
                        <div class="col-lg-9">
                            <input type="number" class="form-control" name="Qty" placeholder="Enter quentity" value="">
                        </div>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


